.container {
  	width: 800px;
  	margin : auto;
}

b{
  font-size: 120%;
 } 

body {
  	background: #292933;
}

header {
	height:250px;
}

header img {
  background: #000;
}

section {
	color: #2F4F4F;
  	margin-top: 17px;
  	font-size: 120%;
  	padding: 20px;
  	background: #708090;
}

section h1 {
  font-size: 200%;
}
h2{
  color: #fff;
  font-size: 100%
}

/* Links */

a {
  color: #79CDCD;
  text-decoration: none;
}

a:hover {
  color: #069;
  text-decoration: underline;
}

a:visited {
  color: #79CDCD;
}

/* Navigation */

nav {
  float: right;
}

nav {
  background-color: #708090;
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a:visited {
  color: #79CDCD;
}

nav ul li a:hover {
	color: #069;
  text-decoration: underline;
}

/* Sign up button */

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #ffffff;
  background: #800;
  font-size: 120%;
  font-weight: bold;
  padding: 2px;
  border-style: groove;
  border-color: #528B8B;
  border-width: 5px;
}
a.signup_button:hover {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 200px;
  color: #ffffff;
  background: #000080;
  font-size: 130%;
  font-weight: bold;
  padding: 3px;
  border-style: groove;
  border-color: #528B8B;
  border-width: 3px;
}

	/* Round corners */

.round {
  -moz-border-radius:    7px;
  -webkit-border-radius: 7px;
  border-radius:         7px;
}


footer {
  text-align: center;
  margin-top: 10px;
  width: 710px;
  margin-left: auto;
  margin-right: auto;
}

footer nav {
  float: none;
}



<<<<<<< HEAD
/* User show page */
=======
/* user show page */
>>>>>>> moddeling-users

table.profile {
  width: 100%;
  margin-bottom: 0;
}

<<<<<<< HEAD
td.main {
=======
td.main{
>>>>>>> moddeling-users
  width: 70%;
  padding: 1em;
}

<<<<<<< HEAD
td.sidebar {
  width: 30%;
  padding: 1em;
  vertical-align: top;
  background: #ffc;
}
=======
td.sidebar{
  width:30%;
  padding: 1em;
  vertical-align: top;
  background: #ffc;
} 
>>>>>>> moddeling-users

.profile img.gravatar {
  border: 1px solid #999;
  margin-bottom: -15px;
}