<header>
  <%= link_to logo, root_path %>
  <nav class="round">
    <ul>
      <li><%= link_to "Startseite", root_path %></li>
	  <li><%= link_to "Graphs", graphs_path %></li>
	    <li><%= link_to "Rute", rutes_path %></li>
    </ul>
  </nav>
</header>